button {
    background-color: #011F3B;
    border: none;
    border-radius: 5px;
    padding-block: 15px;
    width: 200px;
    box-shadow: 3px 3px 10px lightgray;
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: bolder;
}

button:hover {
    cursor: pointer;
}